*.log
*.pot
*.pyc
*.project
*.pydevproject
.settings
.DS_Store*
*/.DS_Store
*.swo
*.swp
*.orig
*.pid
.vscode
.ropeproject
celerybeat-schedule.db
celerybeat.pid
celerybeat-schedule
*.idea
cst/static
*.zip
*/__MACOSX/*

